<br>
<div class="booyah-box col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col-md-6"><%= f.input :username, required: true, autofocus: true %></div>
      </div>

      <div class="row">
        <div class="col-md-6"><%= f.input :email, required: true, autofocus: true %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5"><%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5"><%= f.input :password_confirmation, required: true %></div>
      </div>
      <br>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Register", class: 'btn btn-primary' %>
    </div>
  <% end %>
<br>
  <%= render "devise/shared/links" %>
</div>  