<h1>Test</h1>
<div class="booyah-box col-xs-10 col-xs-offset-1">
<% @attachments.each do |attachment| %>    
      <div class="row"><%= attachment.image %></div>
      <div class="row"><%= attachment.caption %></div>
  <% end %>
<br>
<br>
            <%= simple_form_for @attachments, url: worksheet_attachments_path(@worksheet) do |f| %>
            <%= f.input :caption %>
            <%= f.input :image %>  
            <% end %>
</div>