<br>
<br>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><strong>Details</strong></h1>
  <br>
  
  <div class="row">
    <h4 class="col-xs-2"><strong>Submitted by: </strong><%= @worksheet.submitted_by %></h4>
    <h4 class="col-xs-2"><strong>PIW ID: </strong><%= @worksheet.piw_id %> </h4>  
    <h4 class="col-xs-2"><strong>Date Opened: </strong><%= @worksheet.date_opened %></h4>
    <h4 class="col-xs-2"><strong>Status: </strong><%= @worksheet.status %></h4>
    <h4 class="col-xs-3"><strong>Last Updated: </strong><%= @worksheet.updated_at %> </h4>  
  </div>  

  <div class="row">
    <h4 class="col-xs-3"><strong>Pre-Load: </strong><%= @worksheet.pre_load %> </h4>    
    <h4 class="col-xs-3"><strong>Module: </strong><%= @worksheet.module %> </h4>
    <h4 class="col-xs-5"><strong>Incident Report #: </strong><%= @worksheet.incident_report_number %></h4>
  </div> 

  <div class="row">
    <h4 class="col-xs-3"><strong>Impact: </strong><%= @worksheet.impact %></h4>
    <h4 class="col-xs-4"><strong>Requested By: </strong><%= @worksheet.requested_by %></h4>     
  </div>
  
  <div class="row">
    <h4 class="col-xs-12"><strong>As-is Description: </strong><%= @worksheet.description_as_is %> </h4>
  </div> 

  <div class="row">
    <h4 class="col-xs-12"><strong>To-be Description: </strong><%= @worksheet.description_to_be %></h4>
  </div>  

  <div class="row">
    <h4 class="col-xs-9"><strong>Action Taken: </strong><%= @worksheet.action_taken %></h4>    
  </div> 
  <div class="row">   
    <h4 class="col-xs-4"><strong>Action Taken By: </strong><%= @worksheet.action_taken_by %></h4>
    <h4 class="col-xs-3"><strong>Date Closed: </strong><%= @worksheet.date_closed %></h4>
  </div>
  <br>

  <div class="pull-left">
  <%= link_to 'Edit Details', edit_worksheet_path(@worksheet), class: 'btn btn-primary' %>
  </div>
  <div class="clear"></div>
  <hr>
  <div class="clear"></div>

  <h1><strong>Images</strong></h1>
  
  
    <% @worksheet.attachments.each do |attachment| %>    
        
        <figure>
          <%= image_tag attachment.image, class: 'piw-image' %>
          <figcaption><%= attachment.caption %></figcaption> 
        </figure>  
         
    <% end %>
 
  <div class="clear"></div>


  <br>
  <br>
  <!-- Button trigger image modal -->
  <button class="btn btn-primary" data-toggle="modal" data-target="#imageModal">
    Add an image
  </button>
  <button class="btn btn-primary" data-toggle="modal" data-target="#editImageModal">
    Edit images
  </button>

  <div class="clear"></div>
  <hr>
  <h1><strong>PIW Comments</strong></h1>
  <br>
  <% @worksheet.comments.each do |comment| %>
    <% if comment.message.present? %>
      <table class="col-xs-6">
        <tr>
          <th class=col-xs-8>Comment</th>          
          <th class="col-xs-4">Entered By</th>          
        </tr>        
        <tr>
          <td><%= comment.message %></td>             
          <td><%= comment.user.username if comment.user %></td> <!--check to see if email is blank before writting to table -->        
        </tr>         
      </table>
    <% end %>
  <% end %>

  <div class="clear"></div>
  <br>

  <!-- Button trigger comments modal -->
  <button class="btn btn-primary" data-toggle="modal" data-target="#commentsModal">
    Add a comment
  </button>

  <!-- Comments Modal -->
  <div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
        </div>
        <%= simple_form_for @comment, url: worksheet_comments_path(@worksheet) do |f| %>
          <div class="modal-body">      
            <%= f.input :message, label: 'Comment' %>          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Add Comment", class: 'btn btn-primary' %>
          </div>
        <% end %>
        </div>
    </div>
  </div>

  <!-- Image Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add an image</h4>
        </div>
          <%= simple_form_for @attachment, url: worksheet_attachments_path(@worksheet) do |f| %>
            <div class="modal-body"> 
              <%= f.input :name %>
              <%= f.input :caption %>
              <%= f.input :image %>  
            </div>           
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Add Image", class: 'btn btn-primary' %>
          </div>
        <% end %>
        </div>
        </div>
    </div>

  <!-- Edit Image Modal -->
  <div class="modal fade" id="editImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Edit images</h4>
        </div>
          
            <div class="modal-body"> 
              <!-- Table for images -->
              <table>
                <thead>
                  <tr>
                    <th>Image Name</th>
                    <th>Caption</th>        
                    <th colspan="1"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @worksheet.attachments.each do |image| %>
                    <tr>
                      <td><%= image.name %></td>                      
                      <td><%= image.caption %></td>    
                      <td><%= link_to 'Delete', worksheet_attachment_path(@worksheet, image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- End Table for Images -->
            </div>           
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
          </div>
        
        </div>
        </div>
    </div>
  </div>


