<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><strong>PIW Details</strong></h1>
  <br>
  
  <div class="row">
    <h4 class="col-xs-2"><strong>Submitted by: </strong><%= @worksheet.submitted_by %></h4>
    <h4 class="col-xs-3"><strong>PIW ID: </strong><%= @worksheet.piw_id %> </h4>  
    <h4 class="col-xs-3"><strong>Date Opened: </strong><%= @worksheet.date_opened %></h4>
    <h4 class="col-xs-4"><strong>Last Updated: </strong><%= @worksheet.updated_at %> </h4>  
  </div>

  <hr>

  <div class="row">
    <h4 class="col-xs-3"><strong>Pre-Load: </strong><%= @worksheet.pre_load %> </h4>    
    <h4 class="col-xs-3"><strong>Module: </strong><%= @worksheet.module %> </h4>
    <h4 class="col-xs-5"><strong>Incident Report #: </strong><%= @worksheet.incident_report_number %></h4>
  </div>

  <hr>

  <div class="row">
    <h4 class="col-xs-3"><strong>Impact: </strong><%= @worksheet.impact %></h4>
    <h4 class="col-xs-4"><strong>Requested By: </strong><%= @worksheet.requested_by %></h4>     
  </div>


  <hr>
  
  <div class="row">
    <h4 class="col-xs-12"><strong>As-is Description: </strong><%= @worksheet.description_as_is %> </h4>
  </div>

  <hr>

  <div class="row">
    <h4 class="col-xs-12"><strong>To-be Description: </strong><%= @worksheet.description_to_be %></h4>
  </div>
  
  <hr>

  <div class="row">
    <h4 class="col-xs-9"><strong>Action Taken: </strong><%= @worksheet.action_taken %></h4>    
  </div> 
  <div class="row">   
    <h4 class="col-xs-4"><strong>Action Taken By: </strong><%= @worksheet.action_taken_by %></h4>
    <h4 class="col-xs-3"><strong>Date Closed: </strong><%= @worksheet.date_closed %></h4>
  </div>
  <br>

  <div class="pull-left">
  <%= link_to 'Edit Details', edit_worksheet_path(@worksheet), class: 'btn btn-primary' %>
  </div>

    <div class="clear"></div>

<hr>
  <h1><strong>PIW Comments</strong></h1>
  <br>
    <table class="summary-table">
        <tr>
          <th>Comment</th>
          <th>Priority</th>
          <th>Entered By</th>          
        </tr>
        <% @worksheet.comments.each do |comment| %>
          <tr>
            <td><%= comment.message %></td>
            <td><%= comment.priority %></td>  
            <td><%= comment.user.email if comment.user %></td> <!--check to see if email is blank before writting to table -->        
          </tr> 
        <% end %>
      </table>

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Add a comment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      <%= simple_form_for @comment, url: worksheet_comments_path(@worksheet) do |f| %>
        <div class="modal-body">      
          <%= f.input :message, label: 'Comment' %>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add Comment", class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
  </div>
</div>


</div>

