<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><strong>PIW Details</strong></h1>
  <br>
  <h2><strong>PIW ID: </strong><%= @worksheet.piw_id %> </h2>
  <br>
  <h2><strong>Submitted by: </strong><%= @worksheet.submitted_by %></h2>
  <br>
  <h2><strong>Description: </strong><%= @worksheet.description %></h2>
  <br>
  <h2><strong>Created: </strong><%= @worksheet.created_at %></h2>
  <br>
  <h2><strong>Modified: </strong><%= @worksheet.updated_at %></h2>  

  <div class="pull-right">
  <%= link_to 'Edit', edit_worksheet_path(@worksheet), class: 'btn btn-primary' %>
  </div>

</div>

